.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.small-card {
  width: calc(33.33% - 20px);
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 140, 186, 0.8); /* Using rgba for transparency */
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.small-card:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 16px; /* Slightly reduced font size */
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 90%; /* Added width for better text wrapping */
  text-align: center; /* Center-align the text */
}
